* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: roboto;
}
.progress-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 80%;
  border-radius: 5px;
  background-color: #eee;
}
.progress-bar.done {
  display: none;
}
.progress-bar-inner {
  height: 100%;
  width: 0%;
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.253);
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-upload-menu {
  width: 400px;
  height: 500px;
  padding: 10px 0;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  animation: smooth 0.5s ease;
}
@keyframes smooth {
  from {
    height: 0%;
  }
  to {
    height: 500px;
  }
}
.file-upload-menu p {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.file-upload-menu p span:last-child {
  cursor: pointer;
}
.file-upload-menu > button {
  width: fit-content;
  padding: 10px 20px;
  margin: auto;
  cursor: pointer;
  background-color: #607d8b;
  color: white;
  border: none;
  border-radius: 12px;
}
.file-upload-menu > button:hover {
  background-color: #4c636e;
  border: none;
}
.manage-actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  overflow: scroll;
}
.manage-actions > div:first-child {
  border: 1px dashed #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.manage-actions label {
  border: 1px solid #0000002b;
  padding: 10px;
  color: #0000007a;
  cursor: pointer;
}
.manage-actions label + div {
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
}
.dropdown-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00000085;
  font-size: 14px;
}
.files-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.file-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.5s ease 0s;
  padding: 10px 0px;
}
